* {
  font-family: IBM Plex Mono;
  color: #ffe9f0;
  background: transparent;
}

#window {
  background: rgba(105, 24, 37, 0.8);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid rgb(165, 24, 37);
}

#input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #cc1014;
}

#text {
  margin: 2px;
}
